.tab-close {
  color: gray;
  text-align: right;
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

ul {
  display: flex;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    outline: none;
    text-decoration: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
