<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <br />
    <button (click)="getBinary()">Binary</button>
    <ng-container *ngIf="binary">
      <pre style="text-align: left; color: #fff;">{{ binary }}</pre>
    </ng-container>
    <button (click)="getDisassembly()">Disassembly</button>
    <ng-container *ngIf="disassembly">
    {{ disassembly }}
    </ng-container>
    <button (click)="getFile()">File</button>
    <ng-container *ngIf="file">
    {{ file }}
    </ng-container>
    <button (click)="getStrings()">Strings</button>
    <p *ngFor="let string of extractedStrings">{{string.location}} {{string.raw_string}}</p>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader">
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload binary</button>
</div>

<router-outlet></router-outlet>
