<div id="outer-container">
  <router-outlet></router-outlet>

  <app-control-bar></app-control-bar>
  <as-split direction="horizontal" gutterSize=5>
    <as-split-area size="30" minSize="30">
      <app-hexdump [data]="binaryData"></app-hexdump>
    </as-split-area>
    <as-split-area size="30" minSize="30">
      <app-disassembly [data]="disassemblyData"></app-disassembly>
    </as-split-area>
    <as-split-area size="40">
      <app-loader></app-loader>
      <app-select-id></app-select-id>
    </as-split-area>
  </as-split>
</div>
